.gitignore
.fable/
.idea/
.ionide/
.vs/
.vscode/
*.jpg
*.DS_Store
deploy/
obj/
bin/
packages/
paket-files/
node_modules/
release.cmd
release.sh
*.orig
*.DotSettings.user
package-lock.json
/public/
dotnet-build/
docs-build/
build/
__pycache__


# Extra
*errors.txt
*logs.txt
*~
\#*\#
.\#*
logs/

#For me
infraservices/terras/.terraform*